@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin background-cover() {
    -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
}

@mixin box-sizing($size) {
	-moz-box-sizing: $size; 
	-ms-box-sizing: $size;
	-o-box-sizing: $size;
	-webkit-box-sizing: $size;
	box-sizing: $size; 
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	-webkit-border-radius: $radius; 
	border-radius: $radius; 
}

@mixin box-shadow($shadow-definition) {
	-moz-box-shadow: $shadow-definition; 
	-ms-box-shadow: $shadow-definition; 
	-o-box-shadow: $shadow-definition; 
	-webkit-box-shadow: $shadow-definition; 
	box-shadow: $shadow-definition;
}

@mixin transition($transition-definition)
{
	-moz-transition: $transition-definition; 
	-ms-transition: $transition-definition; 
	-o-transition: $transition-definition; 
	-webkit-transition: $transition-definition; 
	transition: $transition-definition;
}
