.loading-container {
  display: block;
  width: 100px;
  height: 100px;
  padding: 15px 20px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 50000;
}
