// Core variables and mixins
@import "_bootstrap";
@import "_icomoon";
@import "_mixins";

$blue : #315481;
$yellow : #FFEBA0;
$lightblue: #4C6D98;
$lightgray: #aaa;
$black: #525252;
$palegrey: #f1f1f1;

$real-black: #000000;
$grey: #9d9d9c;
$grey-background: #dadada;
$white: #fbfbfb;
$pink: #f6b3b7;
$submit-blue: #60c8f1;
$lightgreen: #e4f9bd;

$walkupbackground: white;
$walkupcolor: black;
$walkupborder: black;

$importantChanges: #e72e71;


//GENERAL

.important {
  color: red;
}


//SMILEY ICONS

.icon-care-3:before {
    content: "\e9df";
}

.icon-care-2:before {
    content: "\e9e1";
}

.icon-care-1:before {
    content: "\e9f7";
}

.icon-care-0:before {
    content: "\e9e5";
}

.icon-care-neutral:before {
    content: "\e9f7";
    color: $lightgray;
}

//STATE ICONS

.icon-taking-place:before {
    content: "\e94e";
}

.icon-scheduled:before {
    content: "\e950";
}

.icon-finished:before {
    content: "\ea10";
}

//DAY ICON
.ic-day {

  background-image: url('images/day.png');
    background-size: 24px 24px;
    width: 25px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}


.container {
	padding-bottom: 30px;

  &.login {
    max-width: 100vw;
  }
}

.form {
  max-width: 650px !important;
  margin: 0 auto;

  h1 {
    margin: 0 0 30px;
  }

  .row {
    margin: 5px 0;

    .col-sm-6:nth-child(odd), .col-md-6:nth-child(odd) {
      padding-left: 0;
    }

    .col-sm-6:nth-child(even), .col-md-6:nth-child(even) {
      padding-right: 0;
    }

    &.dnone {
      display: none;
    }

    .dnone {
      display: none;
    }
  }

  select {
    color: #000;
    /*height: 50px; */
    width:100%;
  }
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: $blue;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;

  color: #fff;

  &.carer {
    background-color: $palegrey;
  }

  &.walkup {
    background-color: $walkupbackground;
  }

  &.login {
    background-color: $blue;
  }

  .main {
    margin-top: 70px;
  }

  .main.carer {

    background-color: $palegrey;
    color: $real-black;
    overflow: auto;
    padding-top: 25px;

    .btn {
      background-color: $blue;
      border-color: $blue;
      color: #ffffff;

      &.complete, &.start.bottom {
        width: 100%;
        margin: 30px 0;
      }
    }
    h3 {
      border-bottom: 1px solid #777777;
    }
    a {
      color: $real-black;
    }

    .meta span.icon, .meta span.glyphicon {
        color: $blue;
    }
    .meta {
      color: #777777;
    }

    .details.carer, .day.carer, .medicationDetails.carer {
      header {
        padding: 0;
        margin-bottom: 0;

        h1 {
          text-align: left;
          margin-bottom: 10px;
          font-size: 24px;
          border-bottom: 1px solid $real-black;
          font-weight: bold;
          display: inline;
        }
      }

      ul {
        padding: 0;
      }

      .medication-carer {
        .taken-options {
          li {
            cursor: pointer;
          }
        }
      }

      .medication-carer {
        background-color: white;
      }

      .task-carer, .task-carer-completed, .medication-carer, .medication-carer-completed {
        .title {
          position: relative;
          padding: 0px;

          h4 {
            background-color: $grey;
            color: white;
            min-height: 59px;
            padding: 10px;
            margin-right: 59px;
            margin-bottom: 0px;
          }

          .completed, .uncomplete {
            width: 59px;
            height: 59px;
            background-color: green;
            position: absolute;
            right: 0;
            top: 0;

            &:hover {
              cursor: pointer;
            }
          }

          .uncomplete:after {
            width: 6px;
            height: 59px;
            transform: rotate(45deg);
            background-color: #ffffff;
            content: '';
            position: absolute;
            right: 26px;
            top: 0;
          }
        }

        .description {
          background-color: white;
          color: $real-black;
          font-size: 16px;

          .more, .less {
            color: $submit-blue;
            margin-top: -14px;
            display: block;

            &:hover {
              cursor: pointer;
            }
          }

          .less {
            display: none;
          }
        }

        > div {
          padding: 10px;
        }
      }

      .task-carer-completed, .medication-carer-completed {
        opacity: 0.4;
      }

      .add-comment {
        background-color:$white;
        clear: both;

        textarea {
          border-radius: 10px;
        }

        > div {
          padding: 10px;
        }

        .submit-comment {
          background: #dadada;
          border: #dadada;
          color: $palegrey;
          outline: none;
          margin-left: 15px;
          padding: 7px 10px;
          border-radius: 5px;
          vertical-align: top;

          &.active {
            background: $submit-blue;
            border: $submit-blue;
            color: white;
          }

          &:focus, &:active {
            outline: none;
          }
        }

        .checkbox {
          display: none;

          label {
            width: 20px;
            overflow: hidden;
            box-shadow: none;
            input {
              box-shadow:none;
            }
          }
        }

        .urgent-icon {
          width: 25px;
          display: inline-block;
          margin-left: 15px;
          cursor: pointer;
          position: relative;
          top: 4px;
          vertical-align: top;
        }

        .help-block {
          display: none;
        }
      }

      .comment-creation-form, #comment-creation-form {
        min-height: 33px;

        .form-group:first-child {
          min-width: calc(100% - 120px);
          width: calc(100% - 120px);

          input,
          textarea {
              outline: none;
              color: $submit-blue;
              text-shadow: 0px 0px 0px #000;
              -webkit-text-fill-color: transparent;

              &:focus, &:active {
                outline: none;
                box-shadow: none;
                border: 1px solid #ccc;
              }
          }
          input::-webkit-input-placeholder,
          textarea::-webkit-input-placeholder{
              color: $submit-blue;
              text-shadow: none;
              -webkit-text-fill-color: initial;
          }
        }

        .form-group {
          margin-bottom: 0;
          margin-bottom: 0;
          display: inline-block;

          &:last-child {
            max-width: 100px;
          }
        }

      }


    }

    .comments {
      background-color: $grey-background;
      padding: 10px;

      .comment-carer {
        width: 60%;
        border-radius: 10px;
        background-color: $lightgreen;
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-left: 40%;

        &.owner {
          margin-left: 0;
          background-color: white;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .meta {
          font-size: 12px;

          &.right {
            text-align: right;
            font-size: 8px;
          }
        }

        &.urgent {
          background-color: $pink !important;
        }
      }
    }

    #comment-creation-form {
      padding-left: 0px;
      background-color: $white;
      padding: 10px;
      margin-top: 0;

      .comment-text-input {
        border-radius: 10px;
      }
    }

    span.care, span.yellow {
      color: $blue;
    }

    .select_status {
      span.care {
        color: #aaa;

        &.selected {
          color: $submit-blue;
        }
      }
    }

    .appointment {
      background-color: $blue;
      color: #ffffff;

      a {
        color: #ffffff;
      }
    }
  }

  .main.walkup {
    background-color: $walkupbackground;

    // WALKUP VIEW

    .walkup {
      padding-top: 20px;
      background-color: $walkupbackground;
      font-size: 2em;
      line-height: 2em;
      color: $walkupcolor;

      a {
        color: $walkupcolor !important;
      }

      .appointment {
        background-color: $walkupbackground !important;
        border: 10px solid $walkupborder;

        &.finished {
          background-image: url('images/tick.png');
          background-repeat: no-repeat;
          background-position: calc(100% - 20px) 20px;
          padding-right: 158px;
        }

        .scheduled-for, .appointment-name {
          font-weight: bold;
        }
      }
    }
  }

  .medication {
    clear: both;

    .located-taken {
      min-height: 120px;
    }

    .taken-options {
      float: left;

      li {
        display: inline-block;
        border: 4px solid grey;
        height: 60px;
        width: 60px;
        text-align: center;
        padding-top: 8px;
        font-size: 2em;
        font-weight: bold;
      }

      .seen-taken {
        color: green;
      }

      .prompted {
        color: orange;
      }

      .refused {
        color: red;
      }

      .left-to-take {
        color: grey;
      }
    }

    .taken-selected {
      color: white !important;

      &.seen-taken {
        background-color: green;
      }

      &.prompted {
        background-color: orange;
      }

      &.refused {
        background-color: red;
      }

      &.left-to-take {
        background-color: grey;
      }
    }

    .location-options {
      float: right;

      li {
        text-align: right;
        margin-bottom: 5px;
      }

      input[type="checkbox"] {
        position: relative;
        top: 7px;
        margin-top: 0px;
        margin-left: 3px;
        height: 25px;
        width: 25px;
      }
    }

    .actual-location-taken {
      clear: both;
    }
  }

  .important-changes {
    z-index: 10000;

    .modal-content {
      border: 40px solid $importantChanges;
    }

    .modal-header {
      color: $importantChanges;
      background-image: url("/images/exclamation.png");
      background-repeat: no-repeat;
      background-size: 60px;
      background-position: 15px 15px;
      min-height: 85px;
    }

    .modal-title {
      padding-left: 75px;
      font-size: 1.6em;
      margin-top: 12px;
    }

    .modal-footer {
      .notes {
        font-size: smaller;
        margin-bottom: 5px;
      }
    }
  }
}

header h1 {
	text-align: center;
}

h1 {
  text-align: center;
  margin: 0 0 30px;
}

h2 {
	margin: 20px 0;

}

h3 {
	margin: 30px 0;
	padding: 0 0 10px;
	border-bottom: 1px solid $lightblue;

	.btn.new {
		  float: right;
		  width: auto;
		  padding: 5px 7px 3px;
		  color: $blue;
	}

}

ul {
	padding-left: 20px;


	li {
		margin-bottom: 20px;
		list-style: none;

		.new_comment {
			float: right;
			margin-left: 10px;
			color: $yellow;
		}
	}

  li.task + li.task {
    margin-top: 20px;
  }

  li.medication + li.medication {
    margin-top: 20px;
  }
}

a {
	color: #fff;

	&:hover, &:focus {
		color: #fff;
    text-decoration: none;
    cursor: pointer;
	}

	&.wrp {
		display: block;
	}

  &.yellow {
    color: $yellow;
    span {
      margin-right: 5px;
    }
  }
}

header {
  padding: 0 10px;
  margin-bottom: 50px;
}

.topbar {
  background-color: $lightblue;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;


  a {
    color: #fff;
  }

  li {
    list-style: none;
  }

  .icons {
      text-align: center;
      font-size: 1.4em;

      /*a + a {
        margin-left: 20px;
      }*/

    .date-nav-btn {
      font-size: 1.2em;
      font-weight: bold;
      position: relative;
      top: 2px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .date-nav-prev {
      margin-right: 5px;
    }

    .date-nav-next {
      margin-left: 5px;
    }
  }

  .dropdown-toggle {
    display: block;
  }

  .dashboard-btn {
    margin: 4px -20px 0px 20px;

    a {
      color: $blue;

      &:hover, &:focus {
        color: $blue;
      }
    }
  }

  .fright {
    li {
      display: inline;

      & + li {
        margin-left: 10px;
      }


      .dropdown-menu {
        right: 0;
        left: inherit;
      }
    }
  }
}

.offlinebar {
  margin-top: 50px;
  line-height: 25px;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: $yellow;
  color: #000;
  z-index: 2;

  &.login {
    margin-bottom: 30px;
  }
}

.fleft {
  z-index: 1;
  float: left;
}

.fright {
  z-index: 1;
  float: right;
}

.col-sm-12 {
  padding: 0;
}

.dropdown-menu {
  background-color: $lightblue;
  min-width: 300px;
  padding: 15px;
  max-width: 100%;

  .app-version {
    font-size: smaller;
  }
}

.dropdown-menu a {
	color: $blue;

	&:hover, &:focus {
		color: $blue;
	}
}

.bootbox {
  &.modal {
    top: 150px;
    z-index: 11000;

    .modal-body .bootbox-body {
      color: #000;
    }

    .modal-footer {
      padding: 5px;
    }
  }
}

.appointment {
	background-color: #7894B7;
	border: 1px solid #fff;
	padding: 20px;

	margin-bottom: 50px;
	@include border-radius(5px);

	.cmmts {
		text-align: right;
		font-size: 1.2em;
		display: block;
	  	width: 100%;
	  	overflow: auto;
	  	margin-bottom: 10px;

		span + span, span + a, a + a, a + span {
			margin-left: 10px;
		}

		.fleft {
			float: left;
		}
	}

	&.Finished {
		background-color: $lightblue;

	}

	&.Scheduled {
		background-color: #ffffff;

		color: #000;

		a {
			color: #000;
		}
	}
}

div.care, div.cmmt {
  z-index: 1;

  h3 {
    border-bottom: none;
  }
}

.details, .medicationDetails {
	h1 {
    .su-name {
      display: block;
    }

		margin-bottom: 20px;

		a, button {
			float: right;
      margin-left: 10px;
		}
	}
}

.meta {
  color: $lightgray;

  span.icon, span.glyphicon {
      color: $yellow;
    }

  &.ctr {
    text-align: center;
    display: block;
  }
}

.text {
  font-size: 1.2em;
}

.meta, .text {
  &.owner {
    text-align: right;
  }
}

.btns {
	text-align: right;
	 a + a {
	 	margin-left: 20px;
	 }
}

span.task_completed, span.medication_completed {
  float: right;
  clear: right;

  input {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
}

span.care, span.yellow {
  color: $yellow;
}

.btn, .btn-primary {
	text-align: center;
	@include border-radius(5px);
	background-color: $yellow;
	padding: 10px;
	color: $blue;
	font-weight: bold;
  border: 1px solid $yellow;

  &:hover {
    background-color: $blue;
    color: #ffffff !important;

    span {
      color: $yellow;
    }

  }
}

.btn.del {
      color: #fff;
      background-color: red;
      border: 1px solid red;
  }

//CARERS

.select_status {

  p.icons {
    text-align: center;
    margin: 20px 0;
  }

  span {
    font-size: 3em;
    color: #aaa;

    & + span {
      margin-left: 10%;
    }

    &:hover {
      cursor: pointer;
    }

    &.selected {
      color: $yellow;
    }
  }
}


//Forms

.checkbox {
	float: right;

	input {
		width: 20px;
		height: 20px;
		float: left;
		margin: 0 0 0 -30px;

	}
}

#comment-creation-form {
	padding-left: 20px;
}


.login_page {
  text-align: center;

  h1 {
    margin: 100px 0;
    text-align: center;
    display: none;
  }

  #login-dropdown-list {

    list-style: none;

    .dropdown-toggle {
      display: none;
    }

    .dropdown-menu {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 80%;
        position: relative;
        float: none;


    }

    #signup-link {
      color: #fff;
    }
  }

  .worded-logo {
    width: 180px;
    margin-bottom: 30px;
  }

  .btn-cancelLogin {
    width: calc(80% - 30px);
    margin: 80px auto 0px auto;
  }

  .login-appointment-summary {
    clear: both;
    margin-top: 50px;
  }

  .version {
    font-size: x-small;
    clear: both;
  }
}

#login-dropdown-list .dropdown-menu {
  right: 0;
  left: inherit;
  background-color: $lightblue;
}

// CALENDAR VIEW

.calendar {
  table .fc-unthemed .fc-popover, .fc-unthemed .fc-row, hr, tbody, td, th, thead {
    border-color: $lightblue;
  }

  table {
    cursor: pointer;

    .fc-event-container {

      padding-bottom: 5px;

      .fc-event {
        background-color: $yellow;
        border-color: $yellow;
        color: $blue;
        padding: 2px;

        &:hover {
          background-color: $blue;
          color: $yellow;
        }

        &+.fc-event {
          margin-top: 5px;
        }
      }
    }

    .fc-today {
      background: $lightblue;
    }

    .fc-day {
      text-align: center;
    }

    a.new {
      padding: 5px;
      font-size: .8em;
      margin-top: 5px;
    }
  }
}


// DASHBOARD VIEW

.dashboard {
  margin: -25px 0px 0px 0px;
  padding: 0px;
  width: 100%;

  ul {
    padding-left: 0px;
    margin: 0px auto;
    width: 600px;
  }

  li {
    display: block;
    width: 300px;
    height: 300px;
    float: left;
    border: solid 1px black;
    margin-bottom: 0px;
    text-align: center;
    text-transform: lowercase;
    font-size: 1.7em;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 43px 30px;
    background-size: 213px;
  }

  li:nth-child(odd) {
    clear: left;
  }

  a, span {
    height: 100%;
    display: block;
  }

  span {
    padding-top: 240px;
  }

  a.warning {
    background-image: url('images/exclamation.png');
    background-repeat: no-repeat;
    background-position: 180px 20px;
    background-size: 100px;
  }

  ul.warnings-present span,
  li.disabled span
   {
    background-color: rgba(100, 100, 100, 0.4);
  }

  ul.warnings-present a.warning span {
    background-color: inherit;
  }

  li.previous-carer-notes {
    background-image: url('images/previous-carer-notes.png');
  }

  li.my-tasks {
    background-image: url('images/my-tasks.png');
  }

  li.medication {
    background-image: url('images/medication.png');
  }

  li.care-plan {
    background-image: url('images/care-plan.png');
  }

  li.risk-assessment {
    background-image: url('images/risk-assessment.png');
  }

  li.client-info {
    background-image: url('images/client-info.png');
  }

  .client-name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
  }

  .appointment-times {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 5px;
  }
}


// CAREPLAN VIEW

.care-plan {
  .care-plan-tabs {
    padding-left: 0px;

    li {
      display: inline-block;
      padding: 5px 15px;
      font-weight: bold;
      font-size: 1.3em;
      background-color: $lightgray;
      color: white;
      cursor: pointer;

      &.selected {
        background-color: $lightblue;
      }
    }
  }

  .care-plan-body {
    .care-plan-body-section {
      display: none;

      &.selected {
        display: block;
      }
    }
  }
}


// ADMIN CARE PLAN VIEW

.admin-care-plan {
  .save-buttons {
    text-align: center;
    margin-top: 30px;
  }
}


// ALERT

.alert {
  .alert-link {
    color: black;
  }
}


// MOBILE

@media (max-width: 660px) {
  .topbar {
      font-size: 1em;
        padding: 0 10px;

        .open > .dropdown-menu {
          display: block;
          width: 100%;
          position: fixed;
          left: 0;
          top: 50px;
        }
  }

  .ic-day {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }

  .login_page h1 {
    margin: 0 0 50px;
  }

  header {
    padding: 0;

    h1 {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  .container {
    .container, div.col-sm-6, div.col-sm-12, div.col-md-6, div.col-md-12, div.col-xs-6, div.col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mob_right { float: right;}

  .walkup {
    .appointment.finished {
      padding-right: 120px;
      background-size: 90px;
      background-position: calc(100% - 20px) 20px;
    }
  }
}

@media (max-width: 660px) and (min-height: 825px) and (max-height: 1025px) {
    header {
    padding: 0;

      h1 {
        font-size: 30px;
      }
    }

    h3 {
      font-size: 24px;
    }

    h1 {
      font-size: 30px;
    }

    .topbar {
      font-size: 1.2em;
    }

    #login-username, #login-password {
      font-size: 1.2em;
      padding: 20px 12px;
    }

    p {
      font-size: 1.3em;
    }

  }
