<div class="container appointment">
  <h1>Konnektis</h1>
  <h2>Care Appointment For <span class="older-person">{{ appointment.patient.displayName }}</span></h2>
  <h2>{{ appointment.appointmentType }}</h2>
  <div class="summary">
    <div class="scheduled"><span class="heading">Scheduled:</span> <span class="date-time">{{ appointment.scheduledDateTime }}</span></div>
    <div class="completed"><span class="heading">Completed:</span> <span class="date-time">{{ appointment.completedDateTime }}</span></div>
    <div class="description"><span class="heading">Description:</span> <span class="description">{{ appointment.description }}</span></div>
    <div class="carer"><span class="heading">Carer:</span> <span class="carer">{{ appointment.carerDisplayName }}</span></div>
  </div>
  <div class="remaining-tasks">
    <h2>Remaining Tasks</h2>
        <ul>
        {{#each appointment.remainingTasks}}
          <li class="remaining-task">
            {{> remainingTask}}
          </li>
          }
        {{/each}}
        </ul>
  </div>
  <div class="completed-tasks">
    <h2>Completed Tasks</h2>
        <ul>
        {{#each appointment.completedTasks}}
          <li class="completed-task">
            {{> completedTask}}
          </li>
        {{/each}}
        </ul>
  </div>
  <div class="comments">
    <h2>Comments</h2>
        <ul>
        {{#each appointment.comments}}
          <li class="comment">
            {{> comment}}
          </li>
        {{/each}}
        </ul>
  </div>
</div>
