<div class="comment {{#if urgent}}urgent{{/if}}">
    <p class="heading"><span class="when-at">{{displayTimestamp}}</span> - <span class="users-name">{{ usersName }}</span>, <span class="user-type">{{ userType }}</span></p>
<!--     , <span class="user-category">{{ userCategory }}</span>
 -->
    <p class="comment-text">{{lineBreakString commentText}}</p>
</div>
