<!-- private/layout.html -->
{{{getDocType}}}
<html lang="en">
<head>
    <style type="text/css">
            {{css}}
    </style>
</head>
<body>

   {{> Template.dynamic template=template data=data}}

</body>
</html>
