<template name="adminClientInfoView">
  <div class="container admin admin-risk-assessment">
    <h1>Client Information Admin</h1>
    {{> adminClientInfoTextBoxes ClientInfo}}
    <div class="save-buttons">
      {{> adminClientInfoButton description="Save Client Information" id="save_client_info"}}
    </div>
  </div>
</template>

<template name="adminClientInfoTextBoxes">
    <h2>Client Information Text</h2>
    <textarea id="txt_document" rows=50 cols=200>{{patientInfo}}</textarea>
    <h2>Description of Changes</h2>
    <textarea id="txt_changes" rows=50 cols=200>{{changeText}}</textarea>
</template>

<template name="adminClientInfoButton">
  <input type="button" id="{{id}}" value="{{description}}" />
</template>
