<template name="adminCarePlanView">
  <div class="container admin admin-care-plan">
    <h1>Care Plan Admin</h1>
    {{> adminCarePlanTextBoxes carePlan}}
<!--       {{> adminCarePlanButton description="Save Care Plan" id="save_care_plan"}}
 -->
 <!--       {{> adminCarePlanButton description="Save as Client Info" id="save_client_info"}}
      {{> adminCarePlanButton description="Save as Medication" id="save_medication"}}
      {{> adminCarePlanButton description="Save as Support Plan" id="save_support_plan"}}
      {{> adminCarePlanButton description="Save as Risk Assessment" id="save_risk_assessment"}}
 -->
  </div>
</template>

<template name="adminCarePlanTextBoxes">
  {{#with carePlanObj}}
    {{#unless encrypted}}
      <h2>Care Plan Text</h2>
      <textarea id="txt_care_plan" rows=50 cols=200>{{carePlan}}</textarea>
      <h2>Medication Text</h2>
      <textarea id="txt_medication" rows=50 cols=200>{{medication}}</textarea>
      <h2>Support Plan Text</h2>
      <textarea id="txt_support_plan" rows=50 cols=200>{{supportPlan}}</textarea>
      <h2>Description of Changes</h2>
      <textarea id="txt_changes" rows=50 cols=200>{{carePlanChanges}}</textarea>
      <div class="save-buttons">
        <input type="button" id="save_care_plan" value="Save Care Plan" />
      </div>
    {{else}}
      <div>
        {{> keyGenLoading size="small"}}
      </div>
    {{/unless}}
  {{/with}}
</template>

<template name="adminCarePlanButton">
  <input type="button" id="{{id}}" value="{{description}}" />
</template>
