<template name="adminRiskAssessmentView">
  <div class="container admin admin-risk-assessment">
    <h1>Risk Assessment Admin</h1>
    {{> adminRiskAssessmentTextBoxes RiskAssessment}}
    <div class="save-buttons">
      {{> adminRiskAssessmentButton description="Save Risk Assessment" id="save_risk_assessment"}}
    </div>
  </div>
</template>

<template name="adminRiskAssessmentTextBoxes">
    <h2>Risk Assessment Text</h2>
    <textarea id="txt_document" rows=50 cols=200>{{riskAssessment}}</textarea>
    <h2>Description of Changes</h2>
    <textarea id="txt_changes" rows=50 cols=200>{{changeText}}</textarea>
</template>

<template name="adminRiskAssessmentButton">
  <input type="button" id="{{id}}" value="{{description}}" />
</template>
