<template name="appointmentView">
  <div class="container">

    {{#if id}}
    {{> existingAppointmentView}}
    {{else}}
    {{> newAppointmentView}}
    {{/if}}

  </div>
</template>

<template name="newAppointmentView">
  <div class="form">
    <h1>Create a New Appointment</h1>

    {{> repeatOption}}

    {{#if repeat}}
      {{#autoForm id="recurrentAppointmentCreationForm" schema=Schemas.RecurringAppointmentForm}}

        {{> recurringAppointmentForm}}

        {{> appointmentForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Create</button>

      {{/autoForm}}
    {{else}}
      {{#autoForm id="appointmentCreationForm" schema=Schemas.AppointmentForm}}

        {{> appointmentForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Create</button>

      {{/autoForm}}
    {{/if}}
    </div>
</template>

<template name="existingAppointmentView">
  <div class="form">
    <h1>Appointment</h1>

    {{> repeatOption}}

    {{#if repeat}}
      {{#if isConcrete}}
        {{#autoForm id="updateAppointmentWithRecurrenceForm" schema=Schemas.AppointmentWithRecurrenceForm}}

          {{> recurringAppointmentForm}}

          {{> appointmentForm}}

          {{> meteorErrors}}

          <button type="submit" class="btn btn-success">Update</button>

        {{/autoForm}}
      {{else}}
        {{#autoForm id="updateRecurrentAppointmentForm" schema=Schemas.RecurringAppointmentForm}}

          {{> recurringAppointmentForm}}

          {{> appointmentForm}}

          {{> meteorErrors}}

          <button type="submit" class="btn btn-success">Update</button>

        {{/autoForm}}
      {{/if}}
    {{else}}
      {{#autoForm id="updateAppointmentForm" schema=Schemas.AppointmentForm}}

        {{> appointmentForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Update</button>

      {{/autoForm}}
    {{/if}}
  </div>
</template>

<template name="appointmentForm">
  <div class="row">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="name" value=appointment.name class="form-control" }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="description" rows=3 placeholder="Optional" value=appointment.description class="form-control" }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="carerUsername" value=appointment.carerUsername class="form-control" label="Carer or Family Member" options=carers }}
    </div>
  </div>

  {{#if displayConcreteDates}}
    <div class="row">
      <span class="col-sm-6 form-group">
        {{> afQuickField name="scheduledStartDay" id="start-day-field" placeholder="Start Day" value=appointment.scheduledStartDay class="form-control" }}
      </span>
    {{#if displayConcreteTimes}}
      <span class="col-sm-6 form-group">
        {{> afQuickField name="scheduledStartTime" id="start-time-field" placeholder="Start Time" value=appointment.scheduledStartTime type="time" class="form-control" }}
      </span>
    {{/if}}
      <span class="col-sm-6 form-group">
        {{> afQuickField name="scheduledEndDay" id="end-day-field" placeholder="End Day" value=appointment.scheduledEndDay class="form-control" }}
      </span>
    {{#if displayConcreteTimes}}
      <span class="col-sm-6 form-group">
        {{> afQuickField name="scheduledEndTime" id="end-time-field" placeholder="End Time" value=appointment.scheduledEndTime type="time" class="form-control" }}
      </span>
    {{/if}}
    </div>
  {{/if}}
</template>

<template name="repeatOption">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label>Repeat</label>
      <input id="repeat" type="checkbox" checked="{{repeat}}" class='repeat' />
    </div>
  </div>
</template>

<template name="recurringAppointmentForm">
  <div class="row">
    <span class="col-sm-6 form-group">
      {{> afQuickField name="recurrenceAmount" value=recurringAppointment.recurrenceAmount label="Every" placeholder="Number of" class="form-control" }}
    </span>
    <span class="col-sm-6 form-group">
      {{> afQuickField name="recurrenceUnit" value=recurringAppointment.recurrenceUnit label="Option" class="form-control" }}
    </span>
  </div>
  <div class="row">
    <span class="col-sm-6 form-group">
      {{> afQuickField name="startTime" id="recurring-start-time-field" placeholder="Start Time" value=recurringAppointment.startTime label="From" type="time" class="form-control" }}
    </span>
    <span class="col-sm-6 form-group">
      {{> afQuickField name="endTime" id="recurring-end-time-field" placeholder="End Time" value=recurringAppointment.endTime label="Until" type="time" class="form-control" }}
    </span>
  </div>
  <div class="row">
    <span class="col-md-6 form-group">
      {{> afQuickField name="recurrenceStartDay" id="recurring-start-day-field" value=recurringAppointment.recurrenceStartDay label="Recurring between" type="date" class="form-control" }}
    </span>
    <span class="col-md-6 form-group">
      {{> afQuickField name="recurrenceEndDay" id="recurring-end-day-field" value=recurringAppointment.recurrenceEndDay label="and" type="date" class="form-control" }}
    </span>
  </div>
</template>
