<template name="calendarView">
  <div class="container">
    <header>
      <h1>
       {{patientName}} - Calendar
      </h1>
    </header>

    <div class="col-sm-12">
       {{ > ReactiveFullcalendar options=calendarOptions }}
    </div>


  </div>
</template>

