<template name="carePlanView">
  <div class="container care-plan">
    <h1>Care Plan</h1>
    <ul class="care-plan-tabs">
      {{#each carePlanSections}}
        {{> carePlanTab}}
      {{/each}}
    </ul>
    <div class="care-plan-body">
      {{#each carePlanSections}}
        {{> carePlanBody}}
      {{/each}}
    </div>
  </div>
  {{#if carePlanChanged}}
    {{> carePlanChangesView carePlanChanges=carePlanChanges}}
  {{/if}}
</template>

<template name="carePlanTab">
  <li class="{{cssClass}} {{#if isSelected}}selected{{/if}}" konnektis-care-plan-section="{{cssClass}}">{{section}}</li>
</template>

<template name="carePlanBody">
  <div class="care-plan-body-section {{cssClass}} {{#if isSelected}}selected{{/if}}">
  {{{carePlanSection carePlanFieldName}}}
  </div>
</template>

<template name="carePlanChangesView">
  <div class="modal fade important-changes" id="carePlanChanges">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Changes to Care Plan</h4>
        </div>

        <div class="modal-body">
          {{{carePlanChanges}}}
        </div>

        <div class="modal-footer">
          <div class="notes">Click below to acknowledge these changes</div>
          <button type="button" class="btn btn-primary btn-save">I have read and understand the changes</button>
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
