<template name="commentsView">
  <div class="container">

            {{> details}}
     <h3>Comments</h3>
      <ul>
        {{#each comments}}
          <li>
            {{> comment}}
          </li>
        {{/each}}
        {{#each commentsDay}}
          <li>
            {{> commentLink}}
          </li>
        {{/each}}
      </ul>

      {{ #if this.id }}

      {{#autoForm id="comment-creation-form" schema=Schemas.CommentForm}}

        <div class="row">
          <div class="col-sm-12 form-group">
            {{> meteorErrors}}
            {{> afQuickField name="commentText" label=false rows=3 placeholder="Write your comment here" value=commentText class="form-control comment-text-input" }}
            {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
            <button type="submit" class="btn btn-success">Save Comment</button>
          </div>
        </div>

      {{/autoForm}}

      {{ /if }}

  </div>
</template>

<template name="commentLink">
  <div class="appointment">
   <a class="wrp" href="{{ pathFor 'commentsView' _id = parentId query=dateQueryParameters }}">
      <div class=""><span>{{#if urgent}}<span class="icon-notification"></span>{{/if}} {{timestamp}} - {{username}}, {{#if userType}} {{userType}} User{{/if}}, {{#if appointmentTitle}} {{appointmentTitle}} Comment {{else}} Task Comment {{/if}}</span> </div>
      {{#if taskTitle}}
        <div class="">{{taskTitle}}</div>
      {{/if}}
      <div class="text"><p>{{lineBreakString commentText}}</p></div>
    </a>
  </div>
</template>

<template name="details">
  {{ #if equals parent.type 'Appointment' }}
    <h1>
      <a href="{{ pathFor 'detailsView' _id = parent.id query=dateQueryParameters }}">
      {{patientName}}: {{parent.name}}
      <span class="icon-eye fright yellow"></span>
      </a>
    </h1>

  {{else}}

     <h1>{{patientName}}: {{parent.type}} - {{parent.name}}
     </h1>
  {{/if}}
  <p class="text">{{lineBreakString parent.description}}</p>
</template>
