<template name="dashboardView">
  <div class="container dashboard">
  {{#if isCarer }}
    <div class="client-name">{{clientName}}</div>
    <div class="appointment-times">{{appointmentTimes}}</div>
    <ul class="{{#if anythingChanged}}warnings-present{{/if}} dashboard-items">
      {{> dashboardItem class="previous-carer-notes" description="Previous Carer Notes" anythingChanged=anythingChanged}}
      {{> dashboardItem class="my-tasks" description="My Tasks" anythingChanged=anythingChanged}}
      {{> dashboardItem class="medication disabled" description="Medication" anythingChanged=anythingChanged}}
      {{#if carePlanChanged }}
        {{> dashboardCarePlan anythingChanged=anythingChanged changesHere=true}}
      {{else}}
        {{> dashboardCarePlan anythingChanged=anythingChanged changesHere=false}}
      {{/if}}
      {{#if riskAssessmentChanged }}
        {{> dashboardRiskAssessment anythingChanged=anythingChanged changesHere=true}}
      {{else}}
        {{> dashboardRiskAssessment anythingChanged=anythingChanged changesHere=false}}
      {{/if}}
      {{#if clientInfoChanged }}
        {{> dashboardClientInfo anythingChanged=anythingChanged changesHere=true}}
      {{else}}
        {{> dashboardClientInfo anythingChanged=anythingChanged changesHere=false}}
      {{/if}}
    </ul>
  {{else}}
    <h2>This is the dashboard for carers.  Please navigate to another page.</h2>
  {{/if}}
  </div>
</template>

<template name="dashboardItem">
  <li class="{{class}}">
    <a class="{{#if changesHere}}warning{{/if}}">
      <span>{{description}}</span>
    </a>
  </li>
</template>

<template name="dashboardCarePlan">
  {{> dashboardItem class="care-plan" description="Care Plan" changesHere=changesHere}}
</template>

<template name="dashboardRiskAssessment">
  {{> dashboardItem class="risk-assessment" description="Risk Assessment" changesHere=changesHere}}
</template>

<template name="dashboardClientInfo">
  {{> dashboardItem class="client-info" description="Client Info" changesHere=changesHere}}
</template>
