<template name="dayView">
    <div class="container">

    {{#if isCarer }}
        {{> dayCarerView}}

    {{else}}
       {{> dayFamilyView}}
    {{/if}}

    </div>
</template>

<template name="dayFamilyView">
  <div class="container">
    <!--<header>
      <h1>
        <a href="{{ pathFor 'dayView' _currentDate = previousDateString }}">&lt;</a>
         {{ dateString }}
        <a href="{{ pathFor 'dayView' _currentDate = nextDateString }}">&gt;</a>
      </h1>
    </header>-->

    <div class="col-sm-12">
      <div class="col-sm-6 care">
          <h3><span class="care icon-care-{{careStatus}} mob_right"></span> Last Status</h3>
      </div>
      <div class="col-sm-6 cmmt">
          <h3><a href="{{ pathFor 'commentsView' query=dateQueryParameters }}"> <!--<span class="glyphicon glyphicon-comment"></span>--> <span class="mob_right">{{ numberOfComments }}</span> Total Comments</a></h3>

      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-6">
        <h3><span class="mob_right">{{ numberOfIssues }}</span> Urgent Comments</h3>
        <ul>
          {{#each issues}}
            <li>
              {{> issue}}
            </li>
          {{/each}}
        </ul>

        <h3>Remaining Tasks <a class="btn new" href="{{ pathFor 'taskView' query=dateQueryParameters }}"> <span class="icon-plus"></span></a></h3>
        <ul>
          {{#each remainingTasks}}
            <li class="task">
              {{> task}}
            </li>
          {{/each}}
        </ul>
        <div class="btns">
          <a class="btn new" href="{{ pathFor 'taskView' query=dateQueryParameters }}"> New Task</a>
        </div>

        <h3>Remaining Medications <a class="btn new" href="{{ pathFor 'medicationView' query=dateQueryParameters }}"> <span class="icon-plus"></span></a></h3>
        <ul>
          {{#each remainingMedications}}
            <li class="medication">
              {{> medication}}
            </li>
          {{/each}}
        </ul>
        <div class="btns">
          <a class="btn new" href="{{ pathFor 'medicationView' query=dateQueryParameters }}"> New Medication</a>
        </div>

        <h3>Completed Tasks</h3>
        <ul>
          {{#each completedTasks}}
            <li class="task">
              {{> task_completed}}
            </li>
          {{/each}}
        </ul>

        <h3>Completed Medications</h3>
        <ul>
          {{#each completedMedications}}
            <li class="medication">
              {{> medication_completed}}
            </li>
          {{/each}}
        </ul>

      </div>

      <div class="col-sm-6">
        <h3>Care Visits &amp; Appointments <a class="btn new" href="{{ pathFor 'appointmentView' query=dateQueryParameters }}"> <span class="icon-plus"></span> </a></h3>
          {{#each appointments}}
              {{> appointment}}
          {{/each}}
          <div class="btns">
            <a class="btn new" href="{{ pathFor 'appointmentView' query=dateQueryParameters }}"> New Appointment</a>
          </div>
        </div>
    </div>

  </div>
</template>

<template name="dayCarerView">
  <div class="container day carer">

    <!--<header>
      <h1>
        <a href="{{ pathFor 'dayView' _currentDate = previousDateString }}">&lt;</a>
         {{ dateString }}
        <a href="{{ pathFor 'dayView' _currentDate = nextDateString }}">&gt;</a>
      </h1>
    </header>-->

    <div class="col-sm-12">
      <div class="col-sm-6 care">
          <h3><span class="care icon-care-{{careStatus}}"></span> Last Status</h3>
      </div>
      <div class="col-sm-6 cmmt">
          <h3><a href="{{ pathFor 'commentsView' query=dateQueryParameters }}"> <span class="glyphicon glyphicon-comment"></span> {{ numberOfComments }} Total Comments</a></h3>

      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-6">
        <h3>{{ numberOfIssues }} Urgent Comments</h3>
        <ul>
          {{#each issues}}
            <li>
              {{> issue}}
            </li>
          {{/each}}
        </ul>

        <h3>My Tasks </h3>
        <ul>
          {{#each remainingTasks}}
            <li class="task">
              {{> taskCarerList}}
            </li>
          {{/each}}
        </ul>

        <h3>My Medications </h3>
        <ul>
          {{#each remainingMedications}}
            <li class="medication">
              {{> medicationCarerList}}
            </li>
          {{/each}}
        </ul>

        <!--

        <h3>Other Tasks </h3>
        <ul>
          {{#each otherRemainingTasks}}
            <li class="task">
              {{> taskCarer}}
            </li>
          {{/each}}
        </ul>

        -->

        <h3>Completed Tasks</h3>
        <ul>
          {{#each completedTasks}}
            <li class="task">
              {{> taskCarerCompletedList}}
            </li>
          {{/each}}
        </ul>

        <h3>Completed Medications</h3>
        <ul>
          {{#each completedMedications}}
            <li class="medication">
              {{> medicationCarerCompletedList}}
            </li>
          {{/each}}
        </ul>

      </div>

      <div class="col-sm-6">
        <h3>My Appointments</h3>
          {{#each appointments}}
              {{> appointment}}
          {{/each}}
          <h3>Other Appointments</h3>
          {{#each otherAppointments}}
              {{> appointment}}
          {{/each}}
        </div>
    </div>

  </div>
</template>

<template name="medication">
  {{> meteorErrors}}
  <div class="meta">
  <a class="new_comment delete_medication" ><span class="glyphicon glyphicon-trash"></span> Delete</a>
  <a class="new_comment" href="{{ pathFor 'medicationView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  {{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}
  <span><span class="icon-clock"></span> {{scheduledLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="task">
  {{> meteorErrors}}
  <div class="meta">
  <a class="new_comment delete_task" ><span class="glyphicon glyphicon-trash"></span> Delete</a>
  <a class="new_comment" href="{{ pathFor 'taskView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  {{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}
  <span><span class="icon-clock"></span> {{scheduledLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="medicationCarerList">
  {{> meteorErrors}}
  <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}{{#if owner}} <span class="medication_completed"> <input type="checkbox" name="box1" value="" data-id="{{_id}}" class="medication_checkbox"> Completed</span>{{/if}}
  <span><span class="icon-clock"></span> {{scheduledLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="taskCarerList">
  {{> meteorErrors}}
  <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}{{#if owner}} <span class="task_completed"> <input type="checkbox" name="box1" value="" data-id="{{_id}}" class="task_checkbox"> Completed</span>{{/if}}
  <span><span class="icon-clock"></span> {{scheduledLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="medicationCarerCompletedList">
  {{> meteorErrors}}
  <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}} {{#if owner}}<span class="medication_completed"> <input type="checkbox" name="box1" value="" data-id="{{_id}}" class="medication_checkbox" checked> Completed</span>{{/if}}
  <span><span class="icon-checkmark"></span> {{completedLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  {{> medicationTakenOptions selectedTakenOption=taken}}
  <div class="actual-location-taken">Location taken from: <span class="location">{{#if location}}{{location}}{{else}}Not specified{{/if}}</span></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="taskCarerCompletedList">
  {{> meteorErrors}}
  <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}} {{#if owner}}<span class="task_completed"> <input type="checkbox" name="box1" value="" data-id="{{_id}}" class="task_checkbox" checked> Completed</span>{{/if}}
  <span><span class="icon-checkmark"></span> {{completedLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="medication_completed">
  {{> meteorErrors}}
  <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=appointmentQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}
  <span><span class="icon-checkmark"></span> {{completedLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  {{> medicationTakenOptions selectedTakenOption=taken}}
  <div class="actual-location-taken">Location taken from: <span class="location">{{#if location}}{{location}}{{else}}Not specified{{/if}}</span></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=appointmentQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="task_completed">
  {{> meteorErrors}}
   <div class="meta">{{#if gt commentCount 0}} <a class="new_comment" href="{{ pathFor 'commentsView' query=appointmentQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}}
  <span><span class="icon-checkmark"></span> {{completedLabel}} - {{carerUsername}}</span></div>
  <div class="text"><p>{{name}}</p></div>
  <div><p>{{lineBreakString description}}</p></div>
  <a class="yellow" href="{{ pathFor 'commentsView' query=appointmentQueryParameters }}"><span class="glyphicon glyphicon-edit"></span>Add a comment</a>
</template>

<template name="appointment">
  <div class="appointment {{state}}">
  <a href="{{ pathFor 'detailsView' query=dateQueryParameters }}">
    <div class="cmmts"><span class="fleft icon-{{state}}"></span><span class="fleft">{{stateLabel}}</span> {{#if careStatus}} <span class="icon-care-{{careStatus}}"></span> {{/if}} {{#if gt taskCount 0}}<span> {{taskCount}} Tasks</span>  {{/if}}  {{#if gt medicationCount 0}}<span> {{medicationCount}} Medications</span>  {{/if}}  {{#if gt commentCount 0}}<a href="{{ pathFor 'commentsView' query=dateQueryParameters }}"><span class="glyphicon glyphicon-comment"></span> {{commentCount}} </a> {{/if}} </div>
    <div>{{#if actualEndDate}}Scheduled: {{/if}}{{scheduledLabel}} {{carerUsername}}</div>
    {{#if actualEndDate}}
    <div>Completed: {{completedLabel}}</div>
        {{/if}}
    <div>{{name}}</div>
    <div>{{description}}</div>
    </a>
  </div>
</template>

<template name="comment">
  <div class="meta {{#if owner}} owner {{/if}}"><span>{{#if urgent}}<span class="icon-notification"></span> {{/if}} {{timestamp}} - {{username}}, {{#if userType}} {{userType}} User{{/if}}, {{#if appointmentTitle}} {{appointmentTitle}} Comment {{else}} Task Comment {{/if}} </span> </div>
  <div class="text {{#if owner}} owner {{/if}}"><p>{{lineBreakString commentText}}</p></div>
</template>

<template name="issue">
  <a class="wrp" href="{{ pathFor 'commentsView' _id = parentId query=dateQueryParameters }}">

  <div class="meta"><span><span class="icon-notification"></span> {{timestamp}} - {{username}}{{#if userType}}  {{userType}} User{{/if}}, {{#if appointmentTitle}} {{appointmentTitle}} Comment {{else}} Task Comment {{/if}}</span> </div>
  {{#if taskTitle}}
    <div class="meta">{{taskTitle}}</div>
  {{/if}}
  <div class="text"><p>{{commentText}}</p></div>
   </a>
</template>
