<template name="detailsView">
  <div class="container">

  {{#if isCarer }}
    {{> appointmentCarerDetails}}
  {{else}}
    {{> appointmentDetails}}
  {{/if}}

  </div>
</template>

<template name="appointmentDetails">
  <div class="details form">
    <header>
      <h1 class="su-name">{{appointment.patient.displayName}}</h1>
      <h1>
        {{appointment.name}} <span class="care icon-care-{{appointment.careStatus}}"></span>

        {{#unless appointment.completedLabel}}
        <button class="btn del" id="delete" ><span class="glyphicon glyphicon-trash"></span></button>
        <a class="btn new" href="{{ pathFor 'appointmentView' _id = appointment._id query=dateQueryParameters }}">Edit</a>
        {{/unless}}

      </h1>
    </header>
     {{> meteorErrors}}
    <div class="col-sm-12">

     <div class="details text">
        <p class="meta">Scheduled</p>
        <p>{{appointment.scheduledLabel}}</p>
        {{#if appointment.completedLabel}}
        <p class="meta">Completed</p>
        <p>{{appointment.completedLabel}}</p>
        {{/if}}
        <p class="meta">Carer</p>
        <p>{{appointment.carerUsername}}</p>
        {{#if appointment.description}}
        <p class="meta">Description</p>
        <p>{{lineBreakString appointment.description}}</p>
        {{/if}}
      </div>

      <h3>Urgent Comments ({{ numberOfIssues }})</h3>
      <ul>
        {{#each issues}}
          <li>
            {{> issue}}
          </li>
        {{/each}}
      </ul>

      {{ #if remainingTasks }}
        <h3> Remaining Tasks </h3>
        <ul>
          {{#each remainingTasks}}
            <li>
              {{> task}}
            </li>
          {{/each}}
          </ul>
      {{ /if }}

      {{ #if generalTasks }}
      <h3> General Responsibility Tasks </h3>
          <ul>
            {{#each generalTasks}}
              <li>
                {{> task}}
              </li>
            {{/each}}
          </ul>
      {{ /if }}

      {{ #if remainingMedications }}
        <h3> Remaining Medications </h3>
        <ul>
          {{#each remainingMedications}}
            <li>
              {{> medication}}
            </li>
          {{/each}}
          </ul>
      {{ /if }}

      {{#unless appointment.completedLabel}}

      <div class="btns">
        <a class="btn new" href="{{ pathFor 'taskView' query=appointmentQueryParameters }}"> Add New Task</a>
        <a class="btn new" href="{{ pathFor 'medicationView' query=appointmentQueryParameters }}"> Add New Medication</a>
      </div>

      {{/unless}}

      {{ #if completedTasks }}
        <h3> Completed Tasks </h3>
        <ul>
          {{#each completedTasks}}
            <li>
              {{> task_completed}}
            </li>
          {{/each}}
        </ul>
      {{ /if }}

      {{ #if completedMedications }}
        <h3> Completed Medications </h3>
        <ul>
          {{#each completedMedications}}
            <li>
              {{> medication_completed}}
            </li>
          {{/each}}
        </ul>
      {{ /if }}

        <h3> Comments </h3>
         <ul>
          {{#each comments}}
            <li>
              {{> comment}}
            </li>
          {{/each}}
          </ul>

          {{#autoForm id="comment-creation-form" schema=Schemas.CommentForm}}

          <div class="row">
            <div class="col-sm-12 form-group">
              {{> meteorErrors}}
              {{> afQuickField name="commentText" label=false rows=3 placeholder="Write your comment here" value=commentText class="form-control comment-text-input" }}
               {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
                <button type="submit" class="btn btn-success">Save Comment</button>
            </div>
          </div>

        {{/autoForm}}
      </div>
  </div>
</template>



<template name="appointmentCarerDetails">
  <div class="details carer form">
    <header>
      <h1 class="su-name">{{appointment.patient.displayName}}</h1>
      <h1>
        {{appointment.description}} <!--<span class="care icon-care-{{appointment.careStatus}}"></span>-->

         {{#if owner}}
            {{#if scheduled}}
            <button class="btn start fright">Start</button>
            {{/if}}

        {{/if}}
      </h1>
      <h6>
        {{appointment.carerUsername}} | {{appointment.name}}
      </h6>
    <h6>{{#if appointment.actualEndDate}}Scheduled: {{/if}}{{appointment.scheduledLabel}}</h6>
    {{#if appointment.actualEndDate}}
    <h6>Completed: {{appointment.completedLabel}}</h6>
    {{/if}}

    </header>
     {{> meteorErrors}}
    <div class="col-sm-12">

     <!--<h3>Urgent Comments ({{ numberOfIssues }})</h3>
     <ul>
        {{#each issues}}
          <li>
            {{> issue}}
          </li>
        {{/each}}
      </ul>-->

      <h3>Needs ({{ numberOfTasks }})</h3>
      {{ #if allTasks }}
        <ul>
          {{#each allTasks}}
            <li class="{{ #if actualEndDate }}task-carer-completed{{else}}task-carer remaining{{/if}}">
              {{ #if actualEndDate }}
                {{> taskCarerCompleted}}
              {{else}}
                {{> taskCarer}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{ /if }}

      <h3>Medications ({{ numberOfMedications }})</h3>
      <div class="medication-header-warning">
Medication can only be given from its original packages prescribed by a GP
or pharmacist. Please contact the office if medication is changed.
      </div>
      {{ #if allMedications }}
        <ul>
          {{#each allMedications}}
               {{ #if actualEndDate }}
                  <li class="medication medication-carer-completed">
                    {{> medicationCarerCompleted}}
                  </li>
               {{else}}
                  <li class="medication medication-carer remaining">
                    {{> medicationCarer}}
                  </li>
               {{/if}}
          {{/each}}
        </ul>
      {{ /if }}

      <!--{{ #if generalTasks }}
          <ul>
            {{#each generalTasks}}
              <li class="task-carer general">
                {{> taskCarer}}
              </li>
            {{/each}}
          </ul>
      {{ /if }}

      {{ #if completedTasks }}
        <ul>
          {{#each completedTasks}}
            <li class="task-carer-completed">
              {{> taskCarerCompleted}}
            </li>
          {{/each}}
        </ul>
      {{ /if }} -->

       {{#if owner}}

        <div class="select_status text">
          <h3>Set Care Status</h3>
          <p class="icons">
          <span class="care icon-care-0 {{#if equals appointment.careStatus 0}}selected{{/if}}" data-status="0"></span>
          <span class="care icon-care-1 {{#if equals appointment.careStatus 1}}selected{{/if}}" data-status="1"></span>
          <span class="care icon-care-2 {{#if equals appointment.careStatus 2}}selected{{/if}}" data-status="2"></span>
          <!--<span class="care icon-care-3" data-status="3"></span>-->
          </p>

        </div>

      {{/if}}


        <h3>Call Comments </h3>
        {{#if comments}}
          <div class="comments">
            {{#each comments}}
                {{> commentCarer}}
            {{/each}}
          </div>
        {{/if}}

          <div class="add-comment">
          {{#autoForm id="comment-creation-form" schema=Schemas.CommentForm}}
            {{> afQuickField name="commentText" label=false rows=3 placeholder="add call comment" value=commentText class="form-control comment-text-input appointment-comment-text-input" }}
            <img src="/images/urgent.png" class="urgent-icon" />
            {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
            <button type="submit" class="submit-comment">Save</button>
            {{> meteorErrors}}
          {{/autoForm}}
        </div>

        {{#if owner}}
            {{#if started}}
            <button class="btn complete fright">Complete this Appointment</button>
            {{/if}}
            {{#if scheduled}}
            <button class="btn start bottom fright">Start this Appointment</button>
            {{/if}}

        {{/if}}
      </div>
  </div>
</template>

<template name="medicationTakenOptions">
  <ul class="taken-options">
  {{#each medicationTakenOptions}}
    {{> medicationTakenOption}}
  {{/each}}
  </ul>
</template>

<template name="medicationTakenOption">
  <li class="{{cssClass}} {{#if equals ../selectedTakenOption taken}}taken-selected{{/if}}" konnektis-taken-option="{{taken}}">{{abbreviation}}</li>
</template>


<template name="medicationLocationOptions">
  <ul class="location-options">
  {{#each medicationLocationOptions}}
    {{> medicationLocationOption}}
  {{/each}}
  </ul>
</template>

<template name="medicationLocationOption">
  <li class="{{cssClass}} {{locationSelectedClass}}" konnektis-location-option="{{location}}">
    {{description}}
    <input type="checkbox" {{locationSelectedChecked}} konnektis-location-option="{{location}}"/>
  </li>
</template>

<template name="medicationCarerGeneric">
  <div class="title">
    <div class="{{completedClass}}" data-id="{{../_id}}"></div>
    <h4>{{../name}}</h4>
  </div>
  <div class="description">
       <p>{{lineBreakString ../description}}</p>
  </div>
  <hr />
  <div class="located-taken">
    {{> medicationTakenOptions selectedTakenOption=../taken}}
    {{> medicationLocationOptions selectedLocationOption=../location}}
  </div>
  {{#if ../comments}}
    <div class="comments">
      {{#each ../comments}}
          {{> commentCarer}}
      {{/each}}
    </div>
  {{/if}}
</template>

<template name="medicationGenericFooter">
  <div class="medication-footer-warning">
    ST seen taken | P Prompted | R* Refused | LT Left to be taken
    <br />
    <span class="important">R* Please contact office of ‘on-call’ if medication is refused.</span>
  </div>
</template>

<template name="medicationCarer">
  {{> medicationCarerGeneric completedClass="completed"}}
  <div class="add-comment">
    {{#autoForm id=_id class="comment-creation-form" schema=Schemas.CommentForm}}
      {{> afQuickField name="commentText" label=false rows=3 placeholder="add medication comment" value=commentText class="form-control comment-text-input medication-comment-text-input" }}
      <img src="/images/urgent.png" class="urgent-icon" />
      {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
      <button type="submit" class="submit-comment">Save</button>
      {{> meteorErrors}}
    {{/autoForm}}
  </div>
  {{> medicationGenericFooter}}
</template>

<template name="taskCarer">
  <div class="title">
    <div class="completed" data-id="{{_id}}"></div>
    <h4>{{name}}</h4>
  </div>
  <div class="description">
<!--     {{#if expandDescription}}
      <p class="short">{{shortDescription}}</p>
      <span class="more">…more</span>
      <span class="less">…less</span>
    {{else}}
 -->
       <p>{{lineBreakString description}}</p>
<!--     {{/if}}
 -->
  </div>
  {{#if comments}}
    <div class="comments">
      {{#each comments}}
          {{> commentCarer}}
      {{/each}}
    </div>
  {{/if}}
  <div class="add-comment">
    {{#autoForm id=_id class="comment-creation-form" schema=Schemas.CommentForm}}
      {{> afQuickField name="commentText" label=false rows=3 placeholder="add task comment" value=commentText class="form-control comment-text-input task-comment-text-input" }}
      <img src="/images/urgent.png" class="urgent-icon" />
      {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
      <button type="submit" class="submit-comment">Save</button>
      {{> meteorErrors}}
    {{/autoForm}}
  </div>
</template>

<template name="commentCarer">
  <div class="comment-carer {{#if owner}} owner {{/if}} {{#if urgent}} urgent {{/if}}">
    <div class="meta"><span>{{#if urgent}}<span class="icon-notification"></span> {{/if}} {{username}} | {{#if userType}} {{userType}} {{/if}}</span> </div>
    <div class="text {{#if owner}} owner {{/if}}"><p>{{lineBreakString commentText}}</p></div>
    <div class="meta right {{#if owner}} owner {{/if}}"><span> {{timestamp}}</span> </div>
  </div>
</template>

<template name="medicationCarerCompleted">
  {{> medicationCarerGeneric completedClass="uncomplete"}}
  {{> medicationGenericFooter}}
</template>

<template name="taskCarerCompleted">
  <div class="title">
    <div class="uncomplete" data-id="{{_id}}"></div>
    <h4>{{name}}</h4>
  </div>
  <div class="description"><p>{{lineBreakString description}}</p></div>
  {{#if comments}}
    <div class="comments">
      {{#each comments}}
          {{> commentCarer}}
      {{/each}}
    </div>
  {{/if}}
</template>
