<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker.min.js" async></script>
    <script>
        var _LTracker = _LTracker || [];
        _LTracker.push({'logglyKey': 'e7a96cb4-9a0c-4361-b705-ba9c553aa29d', 'sendConsoleErrors' : true });
    </script>
    <title>Konnektis</title>
</head>
