<template name="layout_login">
  <div class="header">
  </div>
  {{> status}}
  {{#unless connected }}
<!--
     <div class="offlinebar login">
      You are not currently connected to the server, please check your internet connection.
    </div>
 -->
   {{/unless}}

  <div class="main">
    {{> yield}}
  </div>
</template>
