<template name="layout">
  <div class="topbar">
    <div class="fleft">
    <!--{{#if isFamily}}{{#unless home}}
      <a class="back-btn">&lt; Back</a>
    {{/unless}}{{/if}} -->
      <li class="dropdown" id="menu-dropdown-list">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="icon-menu"></span> Menu <b class="caret"></b></a>
        <div class="dropdown-menu" role="menu">
          <div>
            <h4>Current Session <span class="app-version">{{ appVersion }}</span></h4>
            <h5>Status: {{ onlineStatus }}</h5>
            {{#if loggedIn}}
              {{#if havePatientName}}
                <h5> {{ patientName }} - {{#if isFamily}}Family{{/if}}{{#if isCarer}}Carer{{/if}} </h5>
              {{/if}}
            {{/if}}
          </div>

          {{#if loggedIn}}
            {{#if currentAppointment}}
              <a class="btn btn-default btn-block" href="/" ><span class="icon-clock"></span> My appointment</a>
            {{/if}}
            {{#if patientIsSelected}}
              <a class="btn btn-default btn-block" href="{{ pathFor 'dayView' }}" ><!--<span class="ic-day"></span>--> Today</a>
              <a class="btn btn-default btn-block" href="{{ pathFor 'calendarView' }}" ><span class="icon-calendar"></span> Calendar</a>
            {{/if}}
            <a class="btn btn-default btn-block" href="{{ pathFor 'selectPatientView' }}" >Select Service User</a>
            {{#if patientIsSelected}}
              <a class="btn btn-default btn-block assignPatientDevice" href="#">Assign Service User to Tablet</a>
              {{#if devicePaired}}
                <a class="btn btn-default btn-block unassignPatientDevice" href="#">Clear Service User from Tablet</a>
              {{/if}}
            {{/if}}
            {{#if isCarer}}
              <a class="btn btn-default btn-block" href="{{ pathFor 'dashboardView' }}" >Dashboard</a>
              <a class="btn btn-default btn-block" href="{{ pathFor 'walkUpView' }}" >Walkup</a>
            {{/if}}
            {{#if isFamily}}
              <a class="btn btn-default btn-block" href="{{ pathFor 'adminCarePlanView' }}" >Input Care Plan</a>
              <a class="btn btn-default btn-block" href="{{ pathFor 'adminRiskAssessmentView' }}" >Input Risk Assessment</a>
              <a class="btn btn-default btn-block" href="{{ pathFor 'adminClientInfoView' }}" >Input Client Information</a>
              {{/if}}
            {{#if viewSwitch}}
              <a class="role_switch btn btn-default btn-block"><span class="icon-loop2"></span> Switch Roles </a>
            {{/if}}
<!--             {{#if isDesktop}}
              {{#if currentAppointment}}
                <a class="download-appointment btn btn-default btn-block">Download Appointment PDF</a>
              {{/if}}
            {{/if}}
 -->          {{/if}}

        </div>
      </li>
    </div>
    {{#if isCarer }}
      <div class="fleft dashboard-btn">
        <button class="btn btn-primary btn-block btn-home" type="button">Home</button>
      </div>
    {{/if}}

    <div class="fright">
      <!-- {{> loginButtons}} -->
      {{#if currentUser}}
        <div class="dropdown">
          <div class="dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{user.username}}
            <span class="caret"></span>
          </div>
          <div class="dropdown-menu" aria-labelledby="userDropdown" id="user-menu">
            {{#if changePassState}}
              {{#if isError}}
                <div class='alert alert-danger error-message'>
                  {{errorMsg}}
                </div>
              {{/if}}
              <form id='passwordChangeForm'>
                  <input type='password' class='old-password-input dropdown-input form-control' placeholder='Old password' required>
                  <input type='password' class='new-password-input dropdown-input form-control' placeholder='New password' required>
                  <input type='password' class='new-password-again-input dropdown-input form-control' placeholder='New password again' required>
                
                <div>
                  {{#with checkPassword}}
                    <div class="password-validation-module" style='background-color:white; padding:10px'>
                      <div style='color:{{length}}; padding:0px; margin:0px'>
                        minimum length: 8 characters
                      </div>
                      <div style='color:{{upperCase}}'>
                        upper case characters: at least one
                      </div>
                      <div style='color:{{lowerCase}}'>
                        lower case characters: at least one
                      </div>
                      <div style='color:{{numbers}}'>
                        numbers: at least one
                      </div>
                      <div style='color:{{special}}'>
                        special characters: at least one
                      </div>
                    </div>
                  {{/with}}
                </div>
                <button type='submit' class='btn btn-default dropdown-button  {{#unless isAllValid}} disabled {{/unless}}'>Change Password</button>
              </form>
              <button class='btn btn-default dropdown-button cancel-pass-change'>Cancel</button>
            {{else}}
              {{#if isSuccess}}
                <div class='alert alert-success success-message'>
                  {{successMsg}}
                  <button type='button' class='btn-xs btn-success confirm-success'>Ok</button>
                </div>
              {{/if}}
              <div>
                <button class='btn btn-default change-password dropdown-button'>Change Password</button>
              </div>
              <div>
                <button class='btn btn-default logout dropdown-button'>Sign out</button>
              </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        {{> loginButtons}}
      {{/if}}
    </div>

    <div class="icons">
      {{#if showDateNav}}
        <a href="{{ pathFor dateNavDest _currentDate = previousDateString }}" class="date-nav-btn date-nav-prev">&lt;</a>
<!--
        <a href="{{ pathFor dateNavDest _currentDate = currentDateString }}">{{ dateString }} </a>
-->
        {{ dateString }}
        <a href="{{ pathFor dateNavDest _currentDate = nextDateString }}" class="date-nav-btn date-nav-next">&gt;</a>
      {{/if}}
    <!--
    {{#if currentAppointment}}
    <a href="/"><span class="icon-clock"></span></a>
    {{/if}}
       <a href="{{ pathFor 'dayView' }}"><span class="ic-day"></span></a>
       <a class="" href="{{ pathFor 'calendarView' }}"><span class="icon-calendar"></span> </a> -->

      <!--<a class="" href="{{ pathFor 'selectPatientView' }}"><span class="icon-users"></span> </a> -->

      <!-- {{#if viewSwitch}}
        <a class="role_switch"><span class="icon-loop2"></span> </a>
      {{/if}}
      -->

    </div>


  </div>
  {{> status}}
  {{#if isCarer }}
    <div class="main carer {{bodyMainDivClasses}}">
      {{> yield}}
    </div>
  {{else}}
    <div class="main family {{bodyMainDivClasses}}">
      {{> yield}}
    </div>
  {{/if}}
</template>
