.dropdown-button {
	width: 100%;
}

#user-menu {
    left: inherit;
    right: 0;
}

#userDropdown {
	text-align: right;
	cursor: pointer;
}

.dropdown-input{
	color: black;
	height: 100%;
	width: 100%;
}

.dropdown-input{
	border-radius: 0px; 
}

.dropdown-input.old-password-input {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown-input.new-password-again-input {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 5px;
}

.password-validation-module {
	border-radius: 5px;
}