<template name="login">
 <div class="container login">
    <div class="login_page">
      <img class="worded-logo" src="/images/Konnektis_Logo_AllTogether.png" alt="Konnektis Logo" />
      <h1>Konnektis</h1>
      {{> loginButtons}}
      {{#if signingInToAppointment}}
        <div class="login-appointment-summary">Signing in to appointment: <span class="appointment-summary">{{appointmentSummary}}</span></div>
        <button class="btn btn-block btn-cancelLogin" type="button">Cancel Login</button>
      {{/if}}
      <div class="version">App version: {{appVersion}}</div>
    </div>
  </div>
</template>
