<template name="medicationDetailsView">
  <div class="container">

  {{#if isCarer }}
    {{> appointmentCarerMedicationDetails}}
  {{else}}
    {{> appointmentMedicationDetails}}
  {{/if}}

  </div>
</template>

<template name="appointmentMedicationDetails">
  <div class="medicationDetails form">
    <header>
      <h1>
        {{appointment.name}} <span class="care icon-care-{{appointment.careStatus}}"></span>

        {{#unless appointment.completedLabel}}
        <button class="btn del" id="delete" ><span class="glyphicon glyphicon-trash"></span></button>
        <a class="btn new" href="{{ pathFor 'appointmentView' _id = appointment._id query=dateQueryParameters }}">Edit</a>
        {{/unless}}

      </h1>
    </header>
     {{> meteorErrors}}
    <div class="col-sm-12">

     <div class="medicationDetails text">
        <p class="meta">Scheduled</p>
        <p>{{appointment.scheduledLabel}}</p>
        {{#if appointment.completedLabel}}
        <p class="meta">Completed</p>
        <p>{{appointment.completedLabel}}</p>
        {{/if}}
        <p class="meta">Carer</p>
        <p>{{appointment.carerUsername}}</p>
        {{#if appointment.description}}
        <p class="meta">Description</p>
        <p>{{lineBreakString appointment.description}}</p>
        {{/if}}
      </div>

      <h3>Urgent Comments ({{ numberOfIssues }})</h3>
      <ul>
        {{#each issues}}
          <li>
            {{> issue}}
          </li>
        {{/each}}
      </ul>

      {{ #if remainingTasks }}
        <h3> Remaining Tasks </h3>
        <ul>
          {{#each remainingTasks}}
            <li>
              {{> task}}
            </li>
          {{/each}}
          </ul>
      {{ /if }}

      {{ #if generalTasks }}
      <h3> General Responsibility Tasks </h3>
          <ul>
            {{#each generalTasks}}
              <li>
                {{> task}}
              </li>
            {{/each}}
          </ul>
      {{ /if }}

      {{ #if remainingMedications }}
        <h3> Remaining Medications </h3>
        <ul>
          {{#each remainingMedications}}
            <li>
              {{> medication}}
            </li>
          {{/each}}
          </ul>
      {{ /if }}

      {{#unless appointment.completedLabel}}

      <div class="btns">
        <a class="btn new" href="{{ pathFor 'taskView' query=appointmentQueryParameters }}"> Add New Task</a>
        <a class="btn new" href="{{ pathFor 'medicationView' query=appointmentQueryParameters }}"> Add New Medication</a>
      </div>

      {{/unless}}

      {{ #if completedTasks }}
        <h3> Completed Tasks </h3>
        <ul>
          {{#each completedTasks}}
            <li>
              {{> task_completed}}
            </li>
          {{/each}}
        </ul>
      {{ /if }}

      {{ #if completedMedications }}
        <h3> Completed Medications </h3>
        <ul>
          {{#each completedMedications}}
            <li>
              {{> medication_completed}}
            </li>
          {{/each}}
        </ul>
      {{ /if }}

        <h3> Comments </h3>
         <ul>
          {{#each comments}}
            <li>
              {{> comment}}
            </li>
          {{/each}}
          </ul>

          {{#autoForm id="comment-creation-form" schema=Schemas.CommentForm}}

          <div class="row">
            <div class="col-sm-12 form-group">
              {{> meteorErrors}}
              {{> afQuickField name="commentText" label=false rows=3 placeholder="Write your comment here" value=commentText class="form-control comment-text-input" }}
               {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
                <button type="submit" class="btn btn-success">Save Comment</button>
            </div>
          </div>

        {{/autoForm}}
      </div>
  </div>
</template>



<template name="appointmentCarerMedicationDetails">
  <div class="medicationDetails carer form">
    <header>
      <h1>
        {{appointment.description}} <!--<span class="care icon-care-{{appointment.careStatus}}"></span>-->
      </h1>
      <h6>
        {{appointment.carerUsername}} | {{appointment.name}}
      </h6>
    <h6>{{#if appointment.actualEndDate}}Scheduled: {{/if}}{{appointment.scheduledLabel}}</h6>
    {{#if appointment.actualEndDate}}
    <h6>Completed: {{appointment.completedLabel}}</h6>
    {{/if}}

    </header>
     {{> meteorErrors}}
    <div class="col-sm-12">

     <!--<h3>Urgent Comments ({{ numberOfIssues }})</h3>
     <ul>
        {{#each issues}}
          <li>
            {{> issue}}
          </li>
        {{/each}}
      </ul>-->

      <h3>Medications ({{ numberOfMedications }})</h3>
      <div class="medication-header-warning">
Medication can only be given from its original packages prescribed by a GP
or pharmacist. Please contact the office if medication is changed.
      </div>
      {{ #if allMedications }}
        <ul>
          {{#each allMedications}}
               {{ #if actualEndDate }}
                  <li class="medication medication-carer-completed">
                    {{> medicationCarerCompleted}}
                  </li>
               {{else}}
                  <li class="medication medication-carer remaining">
                    {{> medicationCarer}}
                  </li>
               {{/if}}
          {{/each}}
        </ul>

      {{ /if }}

      <!--{{ #if generalTasks }}
          <ul>
            {{#each generalTasks}}
              <li class="task-carer general">
                {{> taskCarer}}
              </li>
            {{/each}}
          </ul>
      {{ /if }}

      {{ #if completedTasks }}
        <ul>
          {{#each completedTasks}}
            <li class="task-carer-completed">
              {{> taskCarerCompleted}}
            </li>
          {{/each}}
        </ul>
      {{ /if }} -->

        <h3>Call Comments </h3>
        {{#if comments}}
          <div class="comments">
            {{#each comments}}
                {{> commentCarer}}
            {{/each}}
          </div>
        {{/if}}

          <div class="add-comment">
          {{#autoForm id="comment-creation-form" schema=Schemas.CommentForm}}
            {{> afQuickField name="commentText" label=false rows=1 placeholder="add call comment" value=commentText class="form-control comment-text-input appointment-comment-text-input" }}
            <img src="/images/urgent.png" class="urgent-icon" />
            {{> afQuickField name="urgent" value=commentUrgent class="form-control" }}
            <button type="submit" class="submit-comment">Save</button>
            {{> meteorErrors}}
          {{/autoForm}}
        </div>
      </div>
  </div>
</template>
