<template name="medicationView">
  <div class="container">

    {{#if id}}
    {{> existingMedicationView}}
    {{else}}
    {{> newMedicationView}}
    {{/if}}

  </div>
</template>

<template name="newMedicationView">
  <div class="form">
    <h1>Create a New Medication</h1>

    {{> medicationRepeatOption}}

    {{#if repeat}}
      {{#autoForm id="recurringMedicationCreationForm" schema=Schemas.RecurringMedicationForm class="medicationForm"}}

        {{> recurringMedicationForm}}

        {{> medicationForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Create</button>

      {{/autoForm}}
    {{else}}
      {{#autoForm id="medicationCreationForm" schema=Schemas.MedicationForm class="medicationForm"}}

        {{> medicationForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Create</button>

      {{/autoForm}}
    {{/if}}
  </div>
</template>

<template name="existingMedicationView">
  <div class="form">
    <h1>Medication</h1>

    {{> medicationRepeatOption}}

    {{#if repeat}}
      {{#if isConcrete}}
        {{#autoForm id="updateMedicationWithRecurrenceForm" schema=Schemas.MedicationWithRecurrenceForm class="medicationForm"}}

          {{> recurringMedicationForm}}

          {{> medicationForm}}

          {{> meteorErrors}}

          <button type="submit" class="btn btn-success">Update</button>

        {{/autoForm}}
      {{else}}
        {{#autoForm id="updateRecurringMedicationForm" schema=Schemas.RecurringMedicationForm class="medicationForm"}}

          {{> recurringMedicationForm}}

          {{> medicationForm}}

          {{> meteorErrors}}

          <button type="submit" class="btn btn-success">Update</button>

        {{/autoForm}}
      {{/if}}
    {{else}}
      {{#autoForm id="updateMedicationForm" schema=Schemas.MedicationForm class="medicationForm"}}

        {{> medicationForm}}

        {{> meteorErrors}}

        <button type="submit" class="btn btn-success">Update</button>

      {{/autoForm}}
    {{/if}}
  </div>
</template>

<template name="medicationForm">
  <div class="row">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="name" value=medication.name class="form-control" label="Medication Description" }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="description" rows=3 placeholder="Optional" value=medication.description class="form-control" label="Additional Information" }}
    </div>
  </div>
  {{#if displayConcreteAppointment}}
    <div class="row">
      <div class="col-sm-12 form-group">
        {{> afQuickField name="appointmentId" label="Responsibility" value=medication.appointmentId options=appointmentOptions class="form-control appointment-id" }}
      </div>
    </div>
  {{/if}}
  <div class="row dnone">
    <div class="col-sm-12 form-group">
      {{> afQuickField name="carerUsername" placeholder="Optional" value=medication.carerUsername class="form-control carer-username" label="Carer or Family Member" options=carers }}
    </div>
  </div>

  {{#if displayConcreteDates}}
    <div class="row">
      <span class="col-sm-12 form-group">
        {{> afQuickField name="scheduledStartDay" id="start-day-field" placeholder="Start Day" value=medication.scheduledStartDay class="form-control" }}
      </span>
    </div>
    {{#if displayConcreteTimes}}
      <div class="row">
        <span class="col-sm-6 form-group {{#unless displayTimeTypeDropDowns}} dnone {{/unless}}">
          {{> afQuickField name="scheduledStartTimeType" id="start-time-type-field" placeholder="Scheduled Start Time Type" label="Start Medication" value=medication.scheduledStartTimeType class="form-control scheduled-start-time-type" }}
        </span>

        <span class="form-group {{#if displayTimeTypeDropDowns}} col-sm-6 {{else}} col-sm-12 {{/if}}">
          {{#if displaySpecificStartTimeInput}}
            {{> afQuickField name="scheduledStartTime" id="start-time-field" placeholder="Start Time" value=medication.scheduledStartTime type="time" class="form-control" }}
          {{else}}
            <label>Part of the day</label>
            <select name="scheduledStartTime" id="start-time-dropdown-field" placeholder="Scheduled Start Time" class="form-control scheduled-start-time" data-schema-key="scheduledStartTime" autocomplete="off">
             <option value="">(Select One)</option>
              {{#if equals medication.scheduledEndTime "07:00" }} <option value="07:00" selected>Morning 07.00 – 12.00</option>
              {{else}}
                <option value="07:00">Morning 07.00 – 12.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "12:00" }} <option value="12:00" selected>Afternoon 12.00 – 18.00</option>
              {{else}}
                <option value="12:00">Afternoon 12.00 – 18.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "18:00" }} <option value="18:00" selected>Evening 18.00 – 21.00</option>
              {{else}}
                <option value="18:00">Evening 18.00 – 21.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "21:00" }} <option value="21:00" selected>Night 21.00 – 07.00</option>
              {{else}}
                <option value="21:00">Night 21.00 – 07.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "22:00" }} <option value="22:00" selected>During the Day</option>
              {{else}}
                <option value="22:00">During the Day</option>
              {{/if}}
            </select>
          {{/if}}
        </span>
      </div>
    {{/if}}
    <div class="row">
      <span class="col-sm-12 form-group">
        {{> afQuickField name="scheduledEndDay" id="end-day-field" placeholder="End Day" value=medication.scheduledEndDay class="form-control" }}
      </span>
    </div>
    {{#if displayConcreteTimes}}
      <div class="row">
        <span class="col-sm-6 form-group {{#unless displayTimeTypeDropDowns}} dnone {{/unless}}">
          {{> afQuickField name="scheduledEndTimeType" id="end-time-type-field" placeholder="Scheduled End Time Type" label="End Medication" value=medication.scheduledEndTimeType class="form-control scheduled-end-time-type" }}
        </span>
        <span class="form-group {{#if displayTimeTypeDropDowns}} col-sm-6 {{else}} col-sm-12 {{/if}}">
          {{#if displaySpecificEndTimeInput}}
            {{> afQuickField name="scheduledEndTime" id="end-time-field" placeholder="End Time" value=medication.scheduledEndTime type="time" class="form-control" }}
          {{else}}
            <label>Part of the day</label>
            <select name="scheduledEndTime" id="end-time-dropdown-field" placeholder="Scheduled End Time" class="form-control scheduled-end-time" data-schema-key="scheduledEndTime" autocomplete="off">
             <option value="">(Select One)</option>
              {{#if equals medication.scheduledEndTime "07:00" }} <option value="07:00" selected>Morning 07.00 – 12.00</option>
              {{else}}
                <option value="07:00">Morning 07.00 – 12.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "12:00" }} <option value="12:00" selected>Afternoon 12.00 – 18.00</option>
              {{else}}
                <option value="12:00">Afternoon 12.00 – 18.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "18:00" }} <option value="18:00" selected>Evening 18.00 – 21.00</option>
              {{else}}
                <option value="18:00">Evening 18.00 – 21.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "21:00" }} <option value="21:00" selected>Night 21.00 – 07.00</option>
              {{else}}
                <option value="21:00">Night 21.00 – 07.00</option>
              {{/if}}
              {{#if equals medication.scheduledEndTime "22:00" }} <option value="22:00" selected>During the Day</option>
              {{else}} <option value="22:00">During the Day</option> {{/if}}
            </select>
          {{/if}}
        </span>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="medicationRepeatOption">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label>Repeat</label>
      <input id="repeat" type="checkbox" checked="{{repeat}}" class='repeat' />
    </div>
  </div>
</template>

<template name="recurringMedicationForm">
  <div class="row">
    <span class="col-sm-12 form-group">
      {{> afQuickField name="recurrenceUnit" value=recurringMedication.recurrenceUnit id="recurrenceUnit" label="Every" class="form-control" }}
    </span>
  </div>
  {{#if perAppointment}}
    <div class="row">
      <span class="col-sm-12 form-group">
        {{> afQuickField name="recurringAppointmentId" value=recurringMedication.recurringAppointmentId label="During" class="form-control recurring-appointment-id" options=recurringAppointmentOptions }}
      </span>
    </div>
  {{/if}}

  <div class="row dnone">
    <span class="col-sm-6 form-group">
      {{> afQuickField name="startTimeType" id="recurring-start-time-type-field" placeholder="Start Time Type" label=false value="specific" class="form-control scheduled-start-time-type" }}
    </span>

    <span class="col-sm-6 form-group">
      {{> afQuickField name="endTimeType" id="recurring-end-time-type-field" placeholder="Start Time Type" label=false value="specific" class="form-control scheduled-end-time-type" }}
    </span>
  </div>

  <div class="row">
    <span class="col-sm-6 form-group">
      {{> afQuickField name="startTime" id="recurring-start-time-field" label="From" placeholder="Start Time" value=recurringMedication.startTime type="time" class="form-control" }}
    </span>

    <span class="col-sm-6 form-group">
        {{> afQuickField name="endTime" id="recurring-end-time-field" label="Until" placeholder="End Time" value=recurringMedication.endTime type="time" class="form-control" }}
    </span>
  </div>

  <div class="row">
    <span class="col-sm-6 form-group">
      {{> afQuickField name="recurrenceStartDay" id="recurring-start-day-field" value=recurringMedication.recurrenceStartDay label="Recurring between" type="date" class="form-control" }}
    </span>
    <span class="col-sm-6 form-group">
      {{> afQuickField name="recurrenceEndDay" id="recurring-end-day-field" value=recurringMedication.recurrenceEndDay label="And" type="date" class="form-control" }}
    </span>
  </div>
</template>
