<template name="patientInfoView">
  <div class="container patient-info">
    <h1>Client Information</h1>
    {{{patientInfo}}}
  </div>
  {{#if patientInfoChanged}}
    {{> patientInfoChangesView patientInfoChanges=patientInfoChanges}}
  {{/if}}
</template>

<template name="patientInfoChangesView">
  <div class="modal fade important-changes" id="patientInfoChanges">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Changes to Client Information</h4>
        </div>

        <div class="modal-body">
          {{{patientInfoChanges}}}
        </div>

        <div class="modal-footer">
          <div class="notes">Click below to acknowledge these changes</div>
          <button type="button" class="btn btn-primary btn-save">I have read and understand the changes</button>
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
