<template name='resetPassword'>
	<div class="container login">
		<div class="login_page">
			<img class="worded-logo" src="/images/Konnektis_Logo_AllTogether.png" alt="Konnektis Logo" />
			<h1>Konnektis</h1>
			<form id='passwordResetForm'>
				<div>
					<input type='password' class='new-password-input form-control' placeholder='New password' required>
				</div>
				<div>
					<input type='password' class='new-password-input-again form-control' placeholder='New password (again)' required>
					{{#with checkPassword}}
						<div class="" style='background-color:white; padding:10px'>
							<div style='color:{{length}}; padding:0px; margin:0px'>
								minimum length: 8 characters
							</div>
							<div style='color:{{upperCase}}'>
								upper case characters: at least one
							</div>
							<div style='color:{{lowerCase}}'>
								lower case characters: at least one
							</div>
							<div style='color:{{numbers}}'>
								numbers: at least one
							</div>
							<div style='color:{{special}}'>
								special characters: at least one
							</div>
						</div>
					{{/with}}
				</div>
				<button type='submit' class='btn btn-default dropdown-button {{#unless isAllValid}} disabled{{/unless}}'>Change Password</button>
			</form>
			<button class='btn btn-default dropdown-button cancel'>Cancel</button>
		</div>
	</div>
</template>