<template name="riskAssessmentView">
  <div class="container risk-assessment">
    <h1>Risk Assessment</h1>
    {{{riskAssessment}}}
  </div>
  {{#if riskAssessmentChanged}}
    {{> riskAssessmentChangesView riskAssessmentChanges=riskAssessmentChanges}}
  {{/if}}
</template>

<template name="riskAssessmentChangesView">
  <div class="modal fade important-changes" id="riskAssessmentChanges">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Changes to Risk Assessment</h4>
        </div>

        <div class="modal-body">
          {{{riskAssessmentChanges}}}
        </div>

        <div class="modal-footer">
          <div class="notes">Click below to acknowledge these changes</div>
          <button type="button" class="btn btn-primary btn-save">I have read and understand the changes</button>
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
