<template name="selectPatientView">
  <div class="container">
    <div class="form">
      <h1>Select Service User</h1>
      <select id="patient-select" class="col-sm-12">
        <option value="">Select Service User</option>
        {{#each patients}}
          <option value="{{value}}">{{label}}</option>
        {{/each}}
      </select>

      {{> meteorErrors}}
    </div>
  </div>
</template>
