<template name="walkUpView">
  <div class="container walkup">
    {{#if devicePairedOrPatientSet}}
      {{#each appointments}}
        {{> appointmentSummary}}
      {{else}}
        <div class="no-appointments">
          No appointments have been set for this date.
        </div>
      {{/each}}
    {{else}}
      <div class="non-carer">
        Assign a client to this device before viewing walk-up page.
      </div>
    {{/if}}
  </div>
</template>

<template name="appointmentSummary">
  <div class="appointment {{state}}">
    <a>
      <div class="scheduled">Scheduled: <span class="scheduled-for">{{scheduledLabel}}</span> <span class="carer">{{carerName}}</span></div>
      {{#if actualEndDate}}
        <div>Completed: <span class="completed-at">{{completedLabel}}</span></div>
      {{/if}}
      <div class="appointment-name">{{name}}</div>
      <div class="appointment-description">{{description}}</div>
    </a>
  </div>
</template>
